div#formulario {
    max-width: 500px;
    margin: 140px auto;
    background-color: #f7f7f7;
    box-shadow: 0 4px 10px 4px gray;
    padding: 20px;
}
div#titulo_sesion {
    text-align: center;
    margin: 20px 0;
}
#boton_ingresar {
    text-align: center;
}
h4 {
    margin-bottom: 40px;
}
div#boton_ingresar {
    margin-top: 40px;
}