#contenido {
    margin: 30px auto;
}
#titulo_contenido {
    text-align: center;
    margin: 25px 0;
}
#titulo_empresas_anteriores {
    margin-top: 15px;
    margin-bottom: 10px;
}
#titulo_empresa_actual {
    margin-bottom: 10px;
}
div[class*='container_'], div[id^="boton_mas_"], div[class*='boton_eliminar_'] {
    margin-bottom: 10px;
}
div[class*='boton_eliminar_'], div[id^="boton_mas_"] {
    text-align: right;
}
div[id^="boton_mas_"] > input, div[class*='boton_eliminar_'] > input {
    width: 37px;
}