{% extends "historial/base.html" %}
{% load static %}
{% block titulo %}Historial médico{% endblock %}
{% block estilos %}
<link href="{% static 'css/nueva_ficha_medica.css' %}" rel="stylesheet">
{% endblock %}
{% block contenido %}
<div id="titulo_contenido">
    <h4>Nueva Ficha Médica</h4>
</div>
<div class="accordion" id="acordeon_nueva_ficha_medica">
    <form action="#" method="post">{% csrf_token %}
        <div class="card">
            <div class="card-header" id="heading_chequeo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#chequeo" aria-expanded="false" aria-controls="chequeo">
                        Información de la ficha médica
                    </button>
                </h5>
            </div>
            <div id="chequeo" class="collapse" aria-labelledby="heading_chequeo" data-parent="#acordeon_nueva_ficha_medica">
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-4">
                            <label>Fecha</label>
                            <input class="form-control" id="fecha_ficha" name="fecha_ficha" type="date" value="{{ fecha_ficha }}" disabled required>
                        </div>
                        <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-4">
                            <label>Ciudad</label>
                            <input class="form-control" id="ciudad_ficha" name="ciudad_ficha" type="text" required>
                        </div>
                        <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-4">
                            <label>Tipo</label>
                            <select class="form-control" id="tipo_ficha" name="tipo_ficha" required>
                                <option selected disabled hidden>Escoja una opción</option>
                                {% for key, value in tipos_ficha %}
                                <option value="{{ key }}">{{ key }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading_antecedentes_laborales">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#antecedentes_laborales" aria-expanded="false" aria-controls="antecedentes_laborales">
                        Antecedentes laborales
                    </button>
                </h5>
            </div>
            <div id="antecedentes_laborales" class="collapse" aria-labelledby="heading_antecedentes_laborales" data-parent="#acordeon_nueva_ficha_medica">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12" id="titulo_empresa_actual">
                            <h5>Empresa actual</h5>
                        </div>
                        <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-4">
                            <label>Nombre de la empresa</label>
                            <input class="form-control" id="nombre_empresa_actual" name="nombre_empresa_actual" type="text" required>
                        </div>
                        <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-4">
                            <label>Edad de inicio</label>
                            <input class="form-control" id="edad_inicio" name="edad_inicio" min="18" max="80" type="number" required>
                        </div>
                        <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-4">
                            <label>Cargo</label>
                            <input class="form-control" id="cargo_actual" name="cargo_actual" type="text" required>
                        </div>
                        <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <label>Actividad</label>
                            <textarea class="form-control" id="actividad" name="actividad" style="resize: none" rows="2" type="text" required></textarea>
                        </div>
                        <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <label>EPPS</label>
                            <textarea class="form-control" id="epps" name="epps" style="resize: none" rows="2" type="text" required></textarea>
                        </div>
                        <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <h6>Riesgos</h6>
                            <div class="row" id="container_riesgos_actuales">
                                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5">
                                    <label>Tipo</label>
                                </div>
                                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5">
                                    <label>Nombre</label>
                                </div>
                                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 container_tipo_riesgo_actual">
                                    <select class="form-control" id="tipo_riesgo_actual_1" name="tipo_riesgo_actual_1" onchange="escogerTipo('actual', 1)" required>
                                        <option selected disabled hidden>Escoja una opción</option>
                                        {% for key, value in tipos %}
                                            <option value="{{ key }}">{{ key }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 container_nombre_riesgo_actual">
                                    <select class="form-control" id="nombre_riesgo_actual_1" name="nombre_riesgo_actual_1" required>
                                        <option selected disabled hidden>Escoja una opción</option>
                                        {% for key, value in nombres %}
                                            {% for key2, value2 in value %}
                                                <option class="{{ key }}" value="{{ key2 }}">{{ key2 }}</option>
                                            {% endfor %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 boton_eliminar_riesgo_empresa_actual" hidden>
                                    <input type="button" class="btn btn-danger" id="boton_eliminar_riesgo_actual_1" value="x" onclick="eliminarRiesgo('actual', 1)" />
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" id="boton_mas_riesgo_empresa_actual">
                                    <input type="button" class="btn btn-primary" value="+" onclick="agregarRiesgo('actual')" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12" id="titulo_empresas_anteriores">
                            <h5>Empresas anteriores</h5>
                        </div>
                        <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-4">
                            <label>Nombre de la empresa</label>
                            <input class="form-control nombre_empresa_anterior" name="nombre_empresa" type="text" required>
                        </div>
                        <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-4">
                            <label>Edad de inicio</label>
                            <input class="form-control" id="tiempo_empresa_anterior" name="tiempo_empresa_anterior" min="18" max="80" type="number" required>
                        </div>
                        <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-4">
                            <label>Cargo</label>
                            <input class="form-control cargo_empresa_anterior" name="cargo_empresa_anterior" type="text" required>
                        </div>
                        <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <h6>Riesgos</h6>
                            <div class="row" id="container_riesgos_anteriores">
                                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5">
                                    <label>Tipo</label>
                                </div>
                                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5">
                                    <label>Nombre</label>
                                </div>
                                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 container_tipo_riesgo_anterior">
                                    <select class="form-control" id="tipo_riesgo_anterior_1" name="tipo_riesgo_anterior_1" onchange="escogerTipo('anterior', 1)" required>
                                        <option selected disabled hidden>Escoja una opción</option>
                                        {% for key, value in tipos %}
                                            <option value="{{ key }}">{{ key }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 container_nombre_riesgo_anterior">
                                    <select class="form-control" id="nombre_riesgo_anterior_1" name="nombre_riesgo_anterior_1" required>
                                        <option selected disabled hidden>Escoja una opción</option>
                                        {% for key, value in nombres %}
                                            {% for key2, value2 in value %}
                                                <option class="{{ key }}" value="{{ key2 }}">{{ key2 }}</option>
                                            {% endfor %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 boton_eliminar_riesgo_empresa_anterior" hidden>
                                    <input type="button" class="btn btn-danger" id="boton_eliminar_riesgo_anterior_1" value="x" onclick="eliminarRiesgo('anterior', 1)" />
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" id="boton_mas_riesgo_empresa_anterior">
                                    <input type="button" class="btn btn-primary" value="+" onclick="agregarRiesgo('anterior')" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading_antecedentes_personales">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#antecedentes_personales" aria-expanded="false" aria-controls="antecedentes_personales">
                        Antecedentes patológicos personales
                    </button>
                </h5>
            </div>
            <div id="antecedentes_personales" class="collapse" aria-labelledby="heading_antecedentes_personales" data-parent="#acordeon_nueva_ficha_medica">
                <div class="card-body">
                    <div class="row" id="container_patologias_personales">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                            <label>Patología</label>
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7">
                            <label>Detalle</label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 container_nombre_patologia_personal">
                            <select class="form-control" id="nombre_patologia_personal_1" name="nombre_patologia_personal_1" required>
                                <option selected disabled hidden>Escoja una opción</option>
                                {% for key, value in lugares %}
                                <option value="{{ key }}">{{ key }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 container_detalle_patologia_personal">
                            <textarea class="form-control" id="detalle_patologia_personal_1" name="detalle_patologia_personal_1" style="resize: none" rows="1" type="text" required></textarea>
                        </div>
                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 boton_eliminar_patologia_personal" hidden>
                            <input type="button" class="btn btn-danger" id="boton_eliminar_patologia_personal_1" value="x" onclick="eliminarPatologia('personal', 1)" />
                        </div>
                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" id="boton_mas_patologia_personal">
                            <input type="button" class="btn btn-primary" value="+" onclick="agregarPatologia('personal')" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading_antecedentes_familiares">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#antecedentes_familiares" aria-expanded="false" aria-controls="antecedentes_familiares">
                        Antecedentes patológicos familiares
                    </button>
                </h5>
            </div>
            <div id="antecedentes_familiares" class="collapse" aria-labelledby="heading_antecedentes_familiares" data-parent="#acordeon_nueva_ficha_medica">
                <div class="card-body">
                    <div class="row" id="container_patologias_familiares">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                            <label>Parentesco</label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                            <label>Patología</label>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                            <label>Detalle</label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 container_parentesco_patologia_familiar">
                            <input class="form-control" id="parentesco_patologia_familiar_1" name="parentesco_patologia_familiar_1" type="text" required>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 container_nombre_patologia_familiar">
                            <input class="form-control" id="nombre_patologia_familiar_1" name="nombre_patologia_familiar_1" type="text" required>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 container_detalle_patologia_familiar">
                            <textarea class="form-control" id="detalle_patologia_familiar_1" name="detalle_patologia_familiar_1" style="resize: none" rows="1" type="text" required></textarea>
                        </div>
                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 boton_eliminar_patologia_familiar" hidden>
                            <input type="button" class="btn btn-danger" id="boton_eliminar_patologia_familiar_1" value="x" onclick="eliminarPatologia('familiar', 1)" />
                        </div>
                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" id="boton_mas_patologia_familiar">
                            <input type="button" class="btn btn-primary" value="+" onclick="agregarPatologia('familiar')" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/nueva_ficha_medica.js' %}" type="text/javascript"></script>
{% endblock %}