{% extends "historial/base.html" %}
{% load static %}
{% block titulo %}Historial médico{% endblock %}
{% block estilos %}
<link href="{% static 'css/nueva_ficha_medica.css' %}" rel="stylesheet">
{% endblock %}
{% block contenido %}
<div id="titulo_contenido">
    <h4>Nueva Ficha Médica</h4>
</div>
<div class="accordion" id="acordeon_nueva_ficha_medica">
    <form action="#" method="post">{% csrf_token %}
        <div class="card">
            <div class="card-header" id="heading_chequeo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#chequeo" aria-expanded="false" aria-controls="chequeo">
                        Información de la ficha médica
                    </button>
                </h5>
            </div>
            <div id="chequeo" class="collapse" aria-labelledby="heading_chequeo" data-parent="#acordeon_nueva_ficha_medica">
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-4">
                            <label>Fecha de creación</label>
                            <input class="form-control" id="fecha_ficha" name="fecha_ficha" type="date" value="{{ fecha_ficha }}" disabled required>
                        </div>
                        <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-4">
                            <label>Ciudad</label>
                            <input class="form-control" id="ciudad_ficha" name="ciudad_ficha" type="text" required>
                        </div>
                        <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-4">
                            <label>Tipo</label>
                            <select class="form-control" id="tipo_ficha" name="tipo_ficha" required>
                                <option selected disabled hidden>Escoja una opción</option>
                                {% for key, value in tipos_ficha %}
                                <option value="{{ key }}">{{ key }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading_antecedentes_laborales">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#antecedentes_laborales" aria-expanded="false" aria-controls="antecedentes_laborales">
                        Antecedentes laborales
                    </button>
                </h5>
            </div>
            <div id="antecedentes_laborales" class="collapse" aria-labelledby="heading_antecedentes_laborales" data-parent="#acordeon_nueva_ficha_medica">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12" id="titulo_empresa_actual">
                            <h5>Empresa actual</h5>
                        </div>
                        <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-4">
                            <label>Nombre de la empresa</label>
                            <input class="form-control" id="nombre_empresa_actual" name="nombre_empresa_actual" type="text" required>
                        </div>
                        <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-4">
                            <label>Edad de inicio</label>
                            <input class="form-control" id="edad_inicio" name="edad_inicio" min="18" max="80" type="number" required>
                        </div>
                        <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-4">
                            <label>Cargo</label>
                            <input class="form-control" id="cargo_actual" name="cargo_actual" type="text" required>
                        </div>
                        <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <label>Actividad</label>
                            <textarea class="form-control" id="actividad" name="actividad" style="resize: none" rows="2" type="text" required></textarea>
                        </div>
                        <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <label>EPPS</label>
                            <textarea class="form-control" id="epps" name="epps" style="resize: none" rows="2" type="text" required></textarea>
                        </div>
                        <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <h6>Riesgos</h6>
                            <div class="row" id="container_riesgos_actuales">
                                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5">
                                    <label>Tipo</label>
                                </div>
                                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5">
                                    <label>Nombre</label>
                                </div>
                                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 container_tipo_riesgo_actual">
                                    <select class="form-control" id="tipo_riesgo_actual_1" name="tipo_riesgo_actual_1" onchange="escogerTipo('actual', 1)" required>
                                        <option selected disabled hidden>Escoja una opción</option>
                                        {% for key, value in tipos %}
                                            <option value="{{ key }}">{{ key }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 container_nombre_riesgo_actual">
                                    <select class="form-control" id="nombre_riesgo_actual_1" name="nombre_riesgo_actual_1" required>
                                        <option selected disabled hidden>Escoja una opción</option>
                                        {% for key, value in nombres %}
                                            {% for key2, value2 in value %}
                                                <option class="{{ key }}" value="{{ key2 }}">{{ key2 }}</option>
                                            {% endfor %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 boton_eliminar_riesgo_empresa_actual" hidden>
                                    <input type="button" class="btn btn-danger" id="boton_eliminar_riesgo_actual_1" value="x" onclick="eliminarRiesgo('actual', 1)" />
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" id="boton_mas_riesgo_empresa_actual">
                                    <input type="button" class="btn btn-primary" value="+" onclick="agregarRiesgo('actual')" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12" id="titulo_empresas_anteriores">
                            <h5>Empresas anteriores</h5>
                        </div>
                        <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-4">
                            <label>Nombre de la empresa</label>
                            <input class="form-control nombre_empresa_anterior" name="nombre_empresa" type="text" required>
                        </div>
                        <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-4">
                            <label>Edad de inicio</label>
                            <input class="form-control" id="tiempo_empresa_anterior" name="tiempo_empresa_anterior" min="18" max="80" type="number" required>
                        </div>
                        <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-4">
                            <label>Cargo</label>
                            <input class="form-control cargo_empresa_anterior" name="cargo_empresa_anterior" type="text" required>
                        </div>
                        <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <h6>Riesgos</h6>
                            <div class="row" id="container_riesgos_anteriores">
                                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5">
                                    <label>Tipo</label>
                                </div>
                                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5">
                                    <label>Nombre</label>
                                </div>
                                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 container_tipo_riesgo_anterior">
                                    <select class="form-control" id="tipo_riesgo_anterior_1" name="tipo_riesgo_anterior_1" onchange="escogerTipo('anterior', 1)" required>
                                        <option selected disabled hidden>Escoja una opción</option>
                                        {% for key, value in tipos %}
                                            <option value="{{ key }}">{{ key }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 container_nombre_riesgo_anterior">
                                    <select class="form-control" id="nombre_riesgo_anterior_1" name="nombre_riesgo_anterior_1" required>
                                        <option selected disabled hidden>Escoja una opción</option>
                                        {% for key, value in nombres %}
                                            {% for key2, value2 in value %}
                                                <option class="{{ key }}" value="{{ key2 }}">{{ key2 }}</option>
                                            {% endfor %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 boton_eliminar_riesgo_empresa_anterior" hidden>
                                    <input type="button" class="btn btn-danger" id="boton_eliminar_riesgo_anterior_1" value="x" onclick="eliminarRiesgo('anterior', 1)" />
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" id="boton_mas_riesgo_empresa_anterior">
                                    <input type="button" class="btn btn-primary" value="+" onclick="agregarRiesgo('anterior')" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading_antecedentes_personales">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#antecedentes_personales" aria-expanded="false" aria-controls="antecedentes_personales">
                        Antecedentes patológicos personales
                    </button>
                </h5>
            </div>
            <div id="antecedentes_personales" class="collapse" aria-labelledby="heading_antecedentes_personales" data-parent="#acordeon_nueva_ficha_medica">
                <div class="card-body">
                    <div class="row" id="container_patologias_personales">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                            <label>Patología</label>
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7">
                            <label>Detalle</label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 container_nombre_patologia_personal">
                            <select class="form-control" id="nombre_patologia_personal_1" name="nombre_patologia_personal_1" required>
                                <option selected disabled hidden>Escoja una opción</option>
                                {% for key, value in lugares %}
                                <option value="{{ key }}">{{ key }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 container_detalle_patologia_personal">
                            <textarea class="form-control" id="detalle_patologia_personal_1" name="detalle_patologia_personal_1" style="resize: none" rows="1" type="text" required></textarea>
                        </div>
                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 boton_eliminar_patologia_personal" hidden>
                            <input type="button" class="btn btn-danger" id="boton_eliminar_patologia_personal_1" value="x" onclick="eliminarPatologia('personal', 1)" />
                        </div>
                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" id="boton_mas_patologia_personal">
                            <input type="button" class="btn btn-primary" value="+" onclick="agregarPatologia('personal')" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading_antecedentes_familiares">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#antecedentes_familiares" aria-expanded="false" aria-controls="antecedentes_familiares">
                        Antecedentes patológicos familiares
                    </button>
                </h5>
            </div>
            <div id="antecedentes_familiares" class="collapse" aria-labelledby="heading_antecedentes_familiares" data-parent="#acordeon_nueva_ficha_medica">
                <div class="card-body">
                    <div class="row" id="container_patologias_familiares">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                            <label>Parentesco</label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                            <label>Patología</label>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                            <label>Detalle</label>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 container_parentesco_patologia_familiar">
                            <input class="form-control" id="parentesco_patologia_familiar_1" name="parentesco_patologia_familiar_1" type="text" required>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 container_nombre_patologia_familiar">
                            <input class="form-control" id="nombre_patologia_familiar_1" name="nombre_patologia_familiar_1" type="text" required>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 container_detalle_patologia_familiar">
                            <textarea class="form-control" id="detalle_patologia_familiar_1" name="detalle_patologia_familiar_1" style="resize: none" rows="1" type="text" required></textarea>
                        </div>
                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 boton_eliminar_patologia_familiar" hidden>
                            <input type="button" class="btn btn-danger" id="boton_eliminar_patologia_familiar_1" value="x" onclick="eliminarPatologia('familiar', 1)" />
                        </div>
                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" id="boton_mas_patologia_familiar">
                            <input type="button" class="btn btn-primary" value="+" onclick="agregarPatologia('familiar')" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading_inmunizaciones">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#inmunizaciones" aria-expanded="false" aria-controls="inmunizaciones">
                        Inmunizaciones
                    </button>
                </h5>
            </div>
            <div id="inmunizaciones" class="collapse" aria-labelledby="heading_chequeo" data-parent="#acordeon_nueva_ficha_medica">
                <div class="card-body">
                    <div class="row" id="container_inmunizaciones">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                            <h6>Vacuna</h6>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                            <div class="row">
                                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5">
                                    <h6>Dosis</h6>
                                </div>
                                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5">
                                    <h6>Fecha</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3" style="margin: 10px 0">
                            <label>Tétanos</label>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9" style="margin: 10px 0">
                            <div class="row" id="inmunizaciones_tetanos">
                                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 container_dosis_vacuna_tetanos">
                                    <select class="form-control" id="dosis_vacuna_tetanos_1" name="dosis_vacuna_tetanos_1">
                                        <option selected disabled hidden>Escoja una opción</option>
                                        {% for key, value in dosis_vacunas %}
                                        <option value="{{ key }}">{{ key }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 container_fecha_vacuna_tetanos">
                                    <input class="form-control" id="fecha_vacuna_tetanos_1" name="fecha_vacuna_tetanos_1" type="date">
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 boton_eliminar_vacuna_tetanos" hidden>
                                    <input type="button" class="btn btn-danger" id="boton_eliminar_vacuna_tetanos_1" value="x" onclick="eliminarVacuna('tetanos', 1)" />
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" id="boton_mas_vacuna_tetanos">
                                    <input type="button" class="btn btn-primary" value="+" onclick="agregarVacuna('tetanos', 1)" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3" style="margin: 10px 0">
                            <label>Hepatitis A - B</label>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9" style="margin: 10px 0">
                            <div class="row" id="inmunizaciones_hepatitis">
                                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 container_dosis_vacuna_hepatitis">
                                    <select class="form-control" id="dosis_vacuna_hepatitis_1" name="dosis_vacuna_hepatitis_1">
                                        <option selected disabled hidden>Escoja una opción</option>
                                        {% for key, value in dosis_vacunas %}
                                        <option value="{{ key }}">{{ key }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 container_fecha_vacuna_hepatitis">
                                    <input class="form-control" id="fecha_vacuna_hepatitis_1" name="fecha_vacuna_hepatitis_1" type="date">
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 boton_eliminar_vacuna_hepatitis" hidden>
                                    <input type="button" class="btn btn-danger" id="boton_eliminar_vacuna_hepatitis_1" value="x" onclick="eliminarVacuna('hepatitis', 1)" />
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" id="boton_mas_vacuna_hepatitis">
                                    <input type="button" class="btn btn-primary" value="+" onclick="agregarVacuna('hepatitis', 1)" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3" style="margin: 10px 0">
                            <label>Fiebre tifoidea</label>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9" style="margin: 10px 0">
                            <div class="row" id="inmunizaciones_tifoidea">
                                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 container_dosis_vacuna_tifoidea">
                                    <select class="form-control" id="dosis_vacuna_tifoidea_1" name="dosis_vacuna_tifoidea_1">
                                        <option selected disabled hidden>Escoja una opción</option>
                                        {% for key, value in dosis_vacunas %}
                                        <option value="{{ key }}">{{ key }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 container_fecha_vacuna_tifoidea">
                                    <input class="form-control" id="fecha_vacuna_tifoidea_1" name="fecha_vacuna_tifoidea_1" type="date">
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 boton_eliminar_vacuna_tifoidea" hidden>
                                    <input type="button" class="btn btn-danger" id="boton_eliminar_vacuna_tifoidea_1" value="x" onclick="eliminarVacuna('tifoidea', 1)" />
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" id="boton_mas_vacuna_tifoidea">
                                    <input type="button" class="btn btn-primary" value="+" onclick="agregarVacuna('tifoidea', 1)" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3" style="margin: 10px 0">
                            <label>Fiebre amarilla</label>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9" style="margin: 10px 0">
                            <div class="row" id="inmunizaciones_amarilla">
                                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 container_dosis_vacuna_amarilla">
                                    <select class="form-control" id="dosis_vacuna_amarilla_1" name="dosis_vacuna_amarilla_1">
                                        <option selected disabled hidden>Escoja una opción</option>
                                        {% for key, value in dosis_vacunas %}
                                        <option value="{{ key }}">{{ key }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 container_fecha_vacuna_amarilla">
                                    <input class="form-control" id="fecha_vacuna_amarilla_1" name="fecha_vacuna_amarilla_1" type="date">
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 boton_eliminar_vacuna_amarilla" hidden>
                                    <input type="button" class="btn btn-danger" id="boton_eliminar_vacuna_amarilla_1" value="x" onclick="eliminarVacuna('amarilla', 1)" />
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" id="boton_mas_vacuna_amarilla">
                                    <input type="button" class="btn btn-primary" value="+" onclick="agregarVacuna('amarilla', 1)" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <label>Observaciones</label>
                            <textarea class="form-control" id="observacion_vacuna" name="observacion_vacuna" style="resize: none" rows="3" type="text"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading_aparatos_sistemas">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#aparatos_sistema" aria-expanded="false" aria-controls="aparatos_sistema">
                            Revisión de aparatos y sistemas
                        </button>
                    </h5>
                </div>
                <div id="aparatos_sistema" class="collapse" aria-labelledby="heading_aparatos_sistemas" data-parent="#acordeon_nueva_ficha_medica">
                    <div class="card-body">
                        <div class="row" id="container_aparatos_sistema">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                                <label>Nombre</label>
                            </div>
                            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7">
                                <label>Detalle</label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 container_nombre_aparato_sistema">
                                <select class="form-control" id="nombre_aparato_sistema_1" name="nombre_aparato_sistema_1">
                                    <option selected disabled hidden>Escoja una opción</option>
                                    {% for key, value in nombres_aparatos %}
                                    <option value="{{ key }}">{{ key }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 container_detalle_aparato_sistema">
                                <input class="form-control" id="detalle_aparato_sistema_1" name="detalle_aparato_sistema_1" type="text" required>
                            </div>
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 boton_eliminar_aparato_sistema" hidden>
                                <input type="button" class="btn btn-danger" id="boton_eliminar_aparato_sistema_1" value="x" onclick="eliminarAparato(1)" />
                            </div>
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" id="boton_mas_aparato_sistema">
                                <input type="button" class="btn btn-primary" value="+" onclick="agregarAparato()" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading_examen_fisico">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#examen_fisico" aria-expanded="false" aria-controls="examen_fisico">
                            Examen Físico
                        </button>
                    </h5>
                </div>
                <div id="examen_fisico" class="collapse" aria-labelledby="heading_examen_fisico" data-parent="#acordeon_nueva_ficha_medica">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12" id="titulo_signos_vitales">
                                <h5>Signos vitales</h5>
                            </div>
                            <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                <label>Presión arterial</label>
                                <div class="input-group">
                                    <input class="form-control" id="presion_sistolica" name="presion_sistolica" type="number" required>
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">/</div>
                                    </div>
                                    <input class="form-control" id="presion_distolica" name="presion_distolica" type="number" required>
                                    <div class="input-group-append">
                                        <div class="input-group-text">mmHg</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                <label>Frecuencia cardiaca</label>
                                <div class="input-group">
                                    <input class="form-control" id="frecuencia_cardiaca" name="frecuencia_cardiaca" type="number" required>
                                    <div class="input-group-append">
                                        <div class="input-group-text">x'</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                <label>Frecuencia respiratoria</label>
                                <div class="input-group">
                                    <input class="form-control" id="frecuencia_respiratoria" name="frecuencia_respiratoria" type="number" required>
                                    <div class="input-group-append">
                                        <div class="input-group-text">X'</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-xl-3 col-lg-3 col-md-3 col-sm-3">
                                <label>Talla</label>
                                <div class="input-group">
                                    <input class="form-control" id="talla" name="talla" type="number" onchange="calcularIMC()" required>
                                    <div class="input-group-append">
                                        <div class="input-group-text">cm</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-xl-3 col-lg-3 col-md-3 col-sm-3">
                                <label>Peso</label>
                                <div class="input-group">
                                    <input class="form-control" id="peso" name="peso" type="number" onchange="calcularIMC()" required>
                                    <div class="input-group-append">
                                        <div class="input-group-text">kg</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-xl-3 col-lg-3 col-md-3 col-sm-3">
                                <label>Temperatura</label>
                                <div class="input-group">
                                    <input class="form-control" id="temperatura" name="temperatura" type="number" required>
                                    <div class="input-group-append">
                                        <div class="input-group-text">°C</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-xl-3 col-lg-3 col-md-3 col-sm-3">
                                <label>Índice de masa corporal</label>
                                <input class="form-control" id="indice_masa_corporal" name="indice_masa_corporal" type="number" disabled required>
                            </div>
                            <div class="col-lg-12" id="titulo_somatico_general">
                                <h5>Somático general</h5>
                            </div>
                            <div class="col-lg-12" id="titulo_regional">
                                <h5>Regional</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/nueva_ficha_medica.js' %}" type="text/javascript"></script>
{% endblock %}